.experienceComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.8rem;
    margin: 20px 0 40px 0;
  }

  .experienceList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 85%;
    margin-bottom: 30px;
    h3 {
      font-size: 1.5rem;
      margin-top: 40px;
    }

    .experienceCard {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
      gap: 20px;

      .experienceItem {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        flex-direction: column;
        text-align: center;

        .toolIcon {
          width: 6rem;
          height: 6rem;
          padding: 10px 0;
        }

        .toolDetails {
          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

