.AboutComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 1.8rem;
    margin-top: 20px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    div {
      div {
        flex-direction: column;
        margin: 0 2rem;
        .infoProfile {
          width: 55rem;
          margin: 1rem 0;
          font-size: 1.2rem;
        }
      }
      .aboutInfo {
        flex-direction: column;
        align-items: center;
        div {
          border: 2px solid;
          border-radius: 1.5rem;
          padding: 1.5rem;
          margin: 10px 0;
          width: 20rem;
          height: 10rem;
          img {
            width: 2.5rem;
          }
          h3 {
          }
        }
      }
    }
  }
}
