.homeComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  background-color: #f7f7f7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  .homeInfo {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22rem;

    span {
      font-size: 1.8rem;
      color: #666;
    }

    h1 {
      font-size: 3rem;
      margin: 0.5rem 0;
    }

    p {
      font-size: 1.5rem;
      color: #777;
      margin-bottom: 1rem;
    }

    .buttonContainer {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;

      .downloadButton {
        background-color: black;
        padding: 0.8rem 1.5rem;
        border-radius: 30px;
        text-decoration: none;
        font-size: 1rem;
        transition: transform 0.3s ease, color 0.3s ease;
        color: white;
      }

      .downloadButton:hover {
        transform: scale(1.05);
      }

      .contactButton {
        padding: 0.8rem 1.5rem;
        border-radius: 30px;
        border: 1px solid;
        font-size: 1rem;
        transition: transform 0.3s ease;
        cursor: pointer;
      }
      .contactButton:hover {
        transform: scale(1.05);
      }
    }

    .socialLinks {
      display: flex;
      gap: 1rem;

      img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }
}
