.tools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .tool-card {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    gap: 5px;

    .tool-image {
      width: 1rem;
      border-bottom: none;
      background: none;
    }

    .tool-name {
      font-size: 11px;
      background: none;
    }
  }
}
@media (max-width: 431px) {
  .tools-container {
    display: flex;
    justify-content: center;
    .tool-card {
      padding: 10px 15px;
      .tool-image {
        width: 14px;
      }
  
      .tool-name {
        font-size: 11px;
      }
    }
  }
}
