.toolsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .toolCard {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    gap: 5px;

    .toolImage {
      width: 1rem;
      border-bottom: none;
      background: none;
    }

    .toolName {
      font-size: 11px;
      background: none;
    }
  }
}
@media screen and (max-width: 320px) {
  .toolsContainer {
    .toolCard {
      padding: 10px 15px;
      .toolImage {
        width: 14px;
      }
  
      .toolName {
        font-size: 11px;
      }
    }
  }
}
