@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}
